div
{
        margin-right: 100px;
        margin-left: 100px;
        background-color: rgb(243, 243, 243);
}
.botton1
{
        display: flex;
        background-color: rgb(54, 168, 238);
        
        width:1378px;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
        margin-left: 100px;
        color:white;
        font-size: 20px;
}
.p1
{
        display: flex;
        border: 3px dotted rgb(54, 168, 238);
        color:black;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-right: 100px;
        margin-left: 100px;

}
